.titleAndLogo {
	width: 100%;
}
.titleWebsite {
   width: 90%;
   border: 2px solid black;
   margin-right: 0px;
   background-color:#e6ccb3;
}

.logo {
   width: 10%;
   border: 2px solid black;
   background-color:#e6ccb3;
   
}

.navigation{
    padding:15px;
    font-size: 15px;
    text-align: center;
    background-color:#e6ccb3;
}

.navigation a {
    color: rgb(60, 146, 57);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin: 20px;
}

.navigation a:hover {
    background-color: #f1ece7;
}
body{
    background-color: #f9f2ec;
    color: rgb(46, 123, 44);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h2 {
	font-weight: normal; /* text not in bold */
	width: 25%;
	border: 2px solid black;
	padding-left: 20px;
	padding-right: 20px;
}
.picOfFood {
	width: 170px;
	height: 150px;
	margin: 7.5%;
	
}
.dishName {
	text-decoration: underline;
	font-weight: bold;
}
.dishDescription {
	width: 87.5%;
	text-align: justify;
}
